<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="contacts__title section__title">
      Registration for a
      <span class="accent-color">free</span>
      phone
      <span class="accent-color">consultation</span>
      on the nuances of English UPE
    </h2>
    <p class="contacts__text">
      Leave a request for participation in a
      <span class="accent-color">free lesson</span>
      .
      <br />
      A consultant will contact you and answer your questions
    </p>
    <form class="contacts__form">
      <input
        type="text"
        name="client-name"
        class="form__input contacts__form-input"
        pattern="^[A-Za-zА\s]+$"
        placeholder="Name*"
        required=""
      />
      <input
        type="tel"
        name="client-tel"
        class="form__input contacts__form-input"
        placeholder="Phone*"
        pattern="[0-9]{1,}"
        required=""
      />
      <div class="button-container">
        <div class="button-transform mx-auto" tabindex="0">
          <button type="submit" class="fill-button contacts__form-button">
            I want a free lesson
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
