<footer class="footer" id="footer">
  <div class="footer__top container">
    <div class="footer__top--nav mx-auto">
      <span class="footer__logo">
        <include src="./partials/logo.html"></include>
      </span>
      <a href="tel:+380991234567" class="footer-tel">
        <svg class="footer__icon" width="30" height="30">
          <use href="/src/images/icon-sprite.svg#icon-phone"></use>
        </svg>
        +38 (099) 123 45 67
      </a>
      <a
        class="footer__link"
        href="https://instagram.com/?h1=ru"
        target="_blank"
      >
        <img
          class="footer__img"
          src="/src/images/footer/instagram.svg"
          alt="instagram"
        />
      </a>
    </div>
    <p class="footer__copyright">&copy; All rights reserved, 2022</p>
  </div>

  <div id="scrollToTop"><span>Go Up</span></div>
</footer>
