<section class="section hero">
  <div class="container hero__container">
    <div class="hero__main">
      <h1 class="hero__title section__title">
        Complex preparation for English UPE
      </h1>
      <p class="hero__text section__subtitle">
        <span class="hero__text--small">It won’t be easy.</span>
        <span class="hero__text--large">But you’re guaranteed to get</span>
        <span class="hero__text--accent">+25 points</span>
      </p>
      <div class="button-container button-container--hero">
        <div class="button-transform" tabindex="0">
          <a href="#contacts" class="hero__button fill-button"
            >I want a free lesson</a
          >
        </div>
      </div>
    </div>
    <div class="hero__image-container">
      <img
        srcset="
          ./images/hero/hero-main-m178.png   178w,
          ./images/hero/hero-main-m356.png   356w,
          ./images/hero/hero-main-t316.png   316w,
          ./images/hero/hero-main-t@632.png  632w,
          ./images/hero/hero-main-d719.png   719w,
          ./images/hero/hero-main-d1438.png 1438w
        "
        sizes="(min-width:1440px) 719px , (min-width:768px) 316px , (min-width:320px) 178px , 100vw "
        class="hero-img-main"
        src="./images/hero/hero-main-m178.png"
        alt="office"
      />
      <img
        srcset="
          ./images/hero/hero-transp-m208.png   208w,
          ./images/hero/hero-transp-m416.png   416w,
          ./images/hero/hero-transp-t370.png   370w,
          ./images/hero/hero-transp-t740.png   740w,
          ./images/hero/hero-transp-d842.png   842w,
          ./images/hero/hero-transp-d1684.png 1684w
        "
        sizes="(min-width:1440px) 842px , (min-width:768px) 370px , (min-width:320px) 208px , 100vw "
        class="hero_image-tr"
        src="./images/hero/hero-transp-m208.png"
        alt="office"
      />
    </div>
  </div>
</section>
