<section class="section problem">
  <div class="container container--problem">
    <h2 class="section__title section__title--problem">
      The main problems of students in English UPE, which <br />
      we <span class="problem__accent">help</span> to solve
    </h2>
    <ol class="problem__list">
      <li class="problem__item">Grammar</li>
      <li class="problem__item">Inability to understand spoken English</li>
      <li class="problem__item">Stingy vocabulary for writing an essay</li>
      <li class="problem__item">Preparing alone</li>
      <li class="problem__item">Lack of a single knowledge resource</li>
      <li class="problem__item">Lack of self-organization and laziness</li>
    </ol>
  </div>
</section>
