<section class="section reviews">
  <div class="container">
    <h2 class="reviews__title section__title">Feedback from graduates</h2>
    <div class="reviews__group">
      <button
        class="reviews__button reviews__button-left"
        data-slick-left
        type="button"
      >
        <svg class="reviews__button-icon" width="29" height="16">
          <use href="./images/icon-sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <div class="reviews__user-group">
        <div class="reviews__all-user slider-for">
          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-07-up_tab.png    1x,
                      ./images/reviews/avatar-07-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-07_mob.png    1x,
                      ./images/reviews/avatar-07_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-07-up_tab.png"
                    alt="photo user 7"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm
                  student<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text"
                    >. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr1">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr1">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-06-up_tab.png    1x,
                      ./images/reviews/avatar-06-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-06_mob.png    1x,
                      ./images/reviews/avatar-06_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-06-up_tab.png"
                    alt="photo user 6"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Allyson Richardson</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr2">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr2">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-05-up_tab.png    1x,
                      ./images/reviews/avatar-05-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-05_mob.png    1x,
                      ./images/reviews/avatar-05_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-05-up_tab.png"
                    alt="photo user 5"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Clara Cooper</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr3">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr3">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-04-up_tab.png    1x,
                      ./images/reviews/avatar-04-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-04_mob.png    1x,
                      ./images/reviews/avatar-04_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-04-up_tab.png"
                    alt="photo user 4"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Arlene Hart</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr4">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr4">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-03-up_tab.png    1x,
                      ./images/reviews/avatar-03-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-03_mob.png    1x,
                      ./images/reviews/avatar-03_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-03-up_tab.png"
                    alt="photo user 3"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Rosalyn Dixon</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr5">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr5">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-02-up_tab.png    1x,
                      ./images/reviews/avatar-02-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-02_mob.png    1x,
                      ./images/reviews/avatar-02_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-02-up_tab.png"
                    alt="photo user 2"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Amanda Marsh</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr6">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr6">
                  Hide
                </button>
              </div>
            </article>
          </div>

          <div class="reviews__user">
            <article class="reviews__article">
              <div class="reviews__thumb1">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/reviews/avatar-01-up_tab.png    1x,
                      ./images/reviews/avatar-01-up_tab@2x.png 2x
                    "
                    type="image/png"
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/reviews/avatar-01_mob.png    1x,
                      ./images/reviews/avatar-01_mob@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="reviews__user-photo"
                    src="./images/reviews/avatar-01-up_tab.png"
                    alt="photo user 1"
                    width="150"
                    height="150"
                    loading="lazy"
                  />
                </picture>
                <a
                  href="https://www.facebook.com/"
                  class="reviews__social link"
                  aria-label="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="reviews__icon" width="34px" height="34px">
                    <use href="./images/icon-sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </div>
              <div class="reviews-thumb2">
                <h3 class="reviews__name">Arleen Hudson</h3>
                <p class="rewiews__education">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="rewies__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ducimus, esse corporis? Architecto, inventore voluptatum
                  culpa, sapiente dolor aut asperiores debitis reiciendis quae
                  sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                  quasi?<span class="reviews__dots">...</span
                  ><span class="reviews__fake-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus, esse corporis? Architecto, inventore voluptatum
                    culpa, sapiente dolor aut asperiores debitis reiciendis quae
                    sequi laboriosam. Repellat ipsam nemo assumenda praesentium
                    quasi?</span
                  >
                </p>
                <button class="reviews__fake-read" type="button" id="showr7">
                  Read more
                </button>
                <button class="reviews__fake-hide" type="button" id="hidr7">
                  Hide
                </button>
              </div>
            </article>
          </div>
        </div>

        <div class="reviews__list2 slider-nav">
          <div class="reviews__item">
            <picture>
              <source
                srcset="
                  ./images/reviews/review-07.png    1x,
                  ./images/reviews/review-07@2x.png 2x
                "
                type="image/png"
              />

              <img
                class="reviews__photo"
                src="./images/reviews/review-07.png"
                alt="photo user 7"
                width="54"
                height="54"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="reviews__item">
            <picture
              ><source
                srcset="
                  ./images/reviews/review-06.png    1x,
                  ./images/reviews/review-06@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-06.png"
                alt="photo user 6"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
          <div class="reviews__item">
            <picture
              ><source
                srcset="
                  ./images/reviews/review-05.png    1x,
                  ./images/reviews/review-05@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-05.png"
                alt="photo user 5"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
          <div class="reviews__item">
            <picture
              ><source
                srcset="
                  ./images/reviews/review-04.png    1x,
                  ./images/reviews/review-04@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-04.png"
                alt="photo user 4"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
          <div class="reviews__item">
            <picture>
              <source
                srcset="
                  ./images/reviews/review-03.png    1x,
                  ./images/reviews/review-03@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-03.png"
                alt="photo user 3"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
          <div class="reviews__item">
            <picture
              ><source
                srcset="
                  ./images/reviews/review-02.png    1x,
                  ./images/reviews/review-02@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-02.png"
                alt="photo user 2"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
          <div class="reviews__item">
            <picture
              ><source
                srcset="
                  ./images/reviews/review-01.png    1x,
                  ./images/reviews/review-01@2x.png 2x
                "
                type="image/png" />

              <img
                class="reviews__photo"
                src="./images/reviews/review-01.png"
                alt="photo user 1"
                width="54"
                height="54"
                loading="lazy"
            /></picture>
          </div>
        </div>
      </div>

      <button
        class="reviews__button reviews__button-right"
        data-slick-right
        type="button"
      >
        <svg class="reviews__button-icon" width="29" height="16">
          <use href="./images/icon-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
