.how-we__title {
  color: $color-primary;
  @include media-query(desktop) {
    text-align: left;
  }
}

.how-we__list {
  text-align: center;

  @include media-query(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  @include media-query(desktop) {
    margin: 0px;
  }
}

.how-we__cards {
  padding: 30px 20px;

  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

  transition: background-color $transition, color $transition;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-background;
  }

  @include media-query(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @include media-query(tablet-only) {
    padding: 35px 32px;
    width: 334px;

    flex-basis: calc((100% - 4 * 10px) / 2);
    margin: 10px;
  }

  @include media-query(desktop) {
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 55px 28px;

    width: 418px;

    &:nth-child(3n + 3) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.how-we__icon {
  margin-bottom: 20px;
  fill: $color-accent;
  transition: fill $transition;

  .how-we__cards:hover &,
  .how-we__cards:focus & {
    fill: $color-background;
  }
}

.how-we__subtitle {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    display: inline-block;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;

    content: '';
    background-color: $color-accent;

    transition: background-color $transition;
    .how-we__cards:hover &,
    .how-we__cards:focus & {
      background-color: $color-background;
    }
  }
}

.how-we__text {
  font-size: 12px;
  line-height: 1.67;

  color: $color-secondary;
  transition: color $transition;

  .how-we__cards:hover &,
  .how-we__cards:focus & {
    color: $color-background;
  }

  @include media-query(desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}
